@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --txt-sm: 18px;
}

*{
  box-sizing: border-box;
  font-family: 'roboto', sans-serif, Helvetica;
  font-size: var(--txt-sm);
  color: rgb(200, 200, 200) ;
}


#root {
  margin: 0 auto;
  text-align: center;
}

body{
  background-color: rgb(6, 9, 40);
}



.main-grid {
  margin: 0 auto;
  position: relative;
  max-width: 85vw;
}

